@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #363467 0%, rgba(30, 29, 79, 0.8) 100%);
}